.section__about {
  background-size: 1920px;
  background-position: center;
  height: 100%;
  width: 100%;

  .about {
    @include column-box();
    background-color: rgba(0, 0, 0, 0.692);
    height: auto;
    width: 100%;

    &__item {
      @include column-box();
      margin: auto;
      height: 50vh;
      width: 70%;

      .item {
        &__head {
          @include column-box();
          height: 30%;
          width: 100%;

          h1 {
            font-size: xx-large;
            text-align: center;
          }

          div {
            background-color: $primary-green;
            margin-top: 3%;
            height: 1px;
            width: 50%;
            transition: width 0.3s;
          }
          @media (max-width: $display-mobile) {
            height: 20%;
          }
        }

        &__body {
          @include center-box();
          height: 70%;
          width: 100%;

          p {
            font-size: large;
            text-align: center;
            height: 100%;
            width: 90%;
          }
        }
      }
    }

    &__disclaimer {
      @include center-box();
      border: 1px solid $primary-green;
      background-color: rgba(0, 0, 0, 0.46);
      height: 100px;
      padding: 2%;
      position: absolute;
      width: 240px;
      & i {
        margin-left: 5%
      }
      @media (max-width: $display-tablet) {
        display: none;
      }
    }
  }

  @media (max-width: $display-laptop) {
    background-size: 1250px;
  }
}

.line__about {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 1px;
  background-color: $primary-green;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}