.skills___skills-router{

    background-position: center;
    height: 100%;
    width: 100%;

}

.skills__skills-black{

    background-color: rgba(48, 48, 48, 0.692);
    height: 100%;
    width: 100%;

}

.skills__skills-container{

    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.skills__skills-black{

    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

.skills__title-cointeiner{

    align-items: center;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.skills__title-line{

    margin-top: 3vh;
    background-color: lightseagreen;
    height: 1px;
    width: 40%;

}

.skills__icons-container{

    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;

}

.skills__icon{

    color: lightseagreen;
    cursor: pointer;
    font-size: 50px;
    transition: color .2s;

}

.skills__back-icon{
    transition: color .3s;
    &:hover{
        color: lighten($color: lightseagreen, $amount: 10);
    }
}

.javascript {

    &:hover{
        color: #F0DB4F;
    }

}

.html {

    &:hover{
        color: #f06529;
    }

}

.css {

    &:hover{
        color: #264de4;
    }

}

.react{

    &:hover{
        color: #61DBFB;
    }

}

.sass {

    &:hover{
        color: #CD6799;
    }

}