
.skills{

    background-position: center;
    height: 100%;
    width: 100%;
    &__slider-component{
        @include row-box();
        background-color: rgba(0, 0, 0, 0.568);
        justify-content: space-evenly;
        height: 50vh;
        padding: 2%;
        width: 85vw;
    }
}

.slider{
    &__img{
        height: 96%;
        width: 50%;
    }
    &__body{
        @include column-box();
        background-color: rgba(0, 0, 0, 0.384);
        height: 90%;
        width:45%;
    }
}

.body{
    &__head{
        @include column-box();
        justify-content: space-evenly;
        height: 30%;
        width: 100%;
        h5{
            font-size: 15px;
        }
    }
    &__libraries{
        @include row-box();
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 70%;
        padding: 3%;
        width: 100%;
        strong{
            width:  30%;
            font-size: x-large;
        }
    }
}

.img__img{
    height: 100%;
    width: 100%;
}

.javascript {

    &:hover{
        color: #F0DB4F;
    }

}

.html {

    &:hover{
        color: #f06529;
    }

}

.css {

    &:hover{
        color: #264de4;
    }

}

.react{

    &:hover{
        color: #61DBFB;
    }

}

.sass {

    &:hover{
        color: #CD6799;
    }

}

.sexo{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 550px;
    margin: 0 10px;
}