@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.work__work-container{

    height: 0%;
    margin-left: 1%;
    width: 0%;
    transition: width .3s;

}

.work-activate{

    height: 120%;
    width: 95%;

}

.work__work-container-box{

    align-items: center;
    background-color: #000000;
    border: 1px solid lightseagreen ;
    border-radius: 5px;
    display: flex;
    height: 600%;
    flex-direction: column;
    margin-left: 1%;
    justify-content: center;
    position: relative;
    transition: width .3s;
    width: 99%;
    z-index: 10;

}

.work__work-main{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;

}

.work__work-title-off{

    align-items: center;
    color: 	#F8DE81;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 0px;
    height: 20%;
    justify-content: center;
    transition: all .3s;
    width: 60%;

}

.on{

    font-size: 1rem;

}

.work__work-app{

    border: 1px solid rgb(77, 77, 77);
    border-radius: 1px;
    cursor: pointer;
    transition: all .5s;
    width: 0px;

}

.work__work-app-img{

    width: 100%;

}

.show-app{

    width: 230px;

}

.work__work-button{

    align-items: center;
    cursor: pointer;
    display: flex;
    height: 10%;
    justify-content: center;
    font-size: 0px;
    transition: all .3s;
    width: 30%;

}


.activate-button{
    font-size: 25px;
}
