.work__work-conteiner{

    height: 0%;
    margin-left: 1%;
    width: 0%;
    transition: width .3s;

}

.work-activate{

    height: 100%;
    width: 95%;

}

.work__work-conteiner-box{

    align-items: center;
    background-color: #313131;
    border: 1px solid lightseagreen ;
    border-radius: 5px;
    display: flex;
    height: 600%;
    flex-direction: column;
    margin-left: 1%;
    justify-content: center;
    position: relative;
    transition: width .3s;
    width: 99%;
    z-index: 10;

}

.work__work-main{

    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;

}

.work__work-travolta{

    border-radius: 100%;
    transition: all .5s;
    width: 0px;

}

.show-travolta{
    width: 200px;
}

.work__work-button{

    align-items: center;
    cursor: pointer;
    display: flex;
    height: 10%;
    justify-content: center;
    font-size: 0px;
    transition: all .3s;
    width: 30%;

}


.activate-button{
    font-size: 25px;
}