* {

    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

@import './components/body';
@import './components/nav';
@import './components/skills';
@import './components/knowledge';
@import './components/home';
@import './components/work';
@import './components/contact';
@import './components/about';
@import './components/loading';